.parent {
    background-color: orange;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    box-shadow: solid grey 10px 10px 10px 10px;
    box-shadow: 11px 14px 45px 8px;
    border-radius: 120px;
    height: 733px;
}

.dob {
    padding-right: 77px;
}

.main {
    margin: 20px 0px;
    background-color: black;
    color: aquamarine;
    font-weight: bold;
    font-size: 15px;
}

.button-parent {
    background-color: aquamarine;
}

.button {
    padding: 10px;
    background-color: black;
    color: aquamarine;
}

.h2 {
    background-color: aquamarine;
    margin: 0px 101px 30px;
}

.Error-text {
    color: red;
    font-size: 15px;
}