.tarzan{color: aqua;max-width: 500px;margin: 0 auto;padding-bottom: 50px;font-size: 25px;text-align: center;
    font-weight: bold;box-shadow: grey 10px 10px 31px 24px;
}
    .mustang{background-color:black;color: greenyellow;border: 10px solid grey;}