
.username {
    padding: 7px 217px 7px 14px;

}

.heading {
    font-weight: normal;
}

.input {
    padding: 20px 0px;
}

.input-padding {
    padding: 7px 15px;
}

.input-parent {
    margin: 30px 0px;
}

.parent {
    border: 1px solid grey;
    max-width: 820px;
    margin: 0 auto;
}

.text-input-bottom {
    margin: 5px 5px 30px;
    font-size: 13px;
    color: grey;
}

.checkbox {
    padding: 10px;
}

.inner-parent {
    margin: 40px auto 0px;

    display: flex;
    max-width: 700px;
}

.button {
    padding: 5px 15px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: 0px;
}

.show-password {
    font-size: 13px;
    font-weight: 600;
}

.sign {
    font-size: 14px;
    margin-right: 241px;
    color: blue;
}

.left-section {
    font-family: sans-serif;

    padding-right: 50px;
}

.right-section {
    font-family: sans-serif;
}

.main-image {
    max-width: 190px;
    margin-top: 120px;
}

.profile-text {
    text-align: center;
    margin-top: 20px;
}

.error-message {
    font-size: 13px;color: red;
}

.parrot {
    display: flex;
}

.important {
    margin-right: 4px;
}
.bottom-padd{ display: flex;}
.success{text-align: center;color: green;    font-size: 30px;}
